h1{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: overline;
    P{
        font-size: medium;
        background-color: aqua;
        border: 0cqb;
    }
}